<link rel="stylesheet" href="{{rootUrl}}/assets/vendor/trumbowyg/trumbowyg.min.css">
<link rel="stylesheet" href="{{rootUrl}}/assets/vendor/trumbowyg/plugins/table/trumbowyg.table.min.css">
<style>
	#trumbowyg-element{
		background: #ffffff;
	}

	.ds-categories-between{
		display:flex; 
		justify-content:space-between;
		align-items: baseline;
	}
	
	h6{
		font-size: 13px;
	}
	
	.ds-selected-table-item{
		background: #0d6efd !important;
		color: white !important;
	}
	
	.ds-error{
		border: 1px red solid !important;
	}
	
	.trumbowyg-textarea{
		font-size: 16px;
		font-family: 'Consolas', 'Courier New', Courier, monospace;
		line-height: 22px;
	}
	
</style>


<h2>Categories</h2>

<hr>
<br><br>

    <div class="col-8">
    
    	<h6>Title:</h6>
		<input class="form-control" id="ds-post-title-input" placeholder="" onchange="ds_titleChangeAction()" >
		
		<br>
		<h6>Excerpt:</h6>
		<textarea class="form-control" id="ds-post-excerpt" rows="3" maxlength="255" placeholder=""></textarea>
		<br />
		<h6>Content:</h6>
		<div id="trumbowyg-element"></div>
		
		<br />
		<h6>Categories:</h6>
		<div style="display:flex">		
			<button style="margin-right:6px" onclick="ds_selectCategoriesModal()" type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#ds-select-categories-modal"> Add <span class="badge bg-success">+</span></button>
			<div id="ds-selected-categories-list"></div>	
		</div>
		
		<br />
		<h6>Tags:</h6>
		<div style="display:flex">		
			<button style="margin-right:6px" onclick="ds_selectTagsModal()" type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#ds-select-tags-modal"> Add <span class="badge bg-success">+</span></button>
			<div id="ds-selected-tags-list"></div>	
		</div>
		
			
       <br />
       <div href="" class="btn btn-primary btn-lg">Save</div>     
		
    </div>






<script src="{{rootUrl}}/assets/vendor/jquery-3.6.0/jquery-3.6.0.min.js"></script>
<script src="{{rootUrl}}/assets/vendor/trumbowyg/trumbowyg.min.js"></script>
<script src="{{rootUrl}}/assets/vendor/trumbowyg/plugins/table/trumbowyg.table.min.js"></script>
<script src="{{rootUrl}}/assets/vendor/slugify/slugify.min.js"></script> 
<script src="{{rootUrl}}/assets/vendor/slugify/speakingurl.min.js"></script> 

<script>

//EDITOR
var trumboEditor = $('#trumbowyg-element').trumbowyg({
    autogrow: true,
    tagsToRemove: ['script', 'iframe', 'style'],    
    
    plugins: {
        table: {
            // Allows creating tables up to 10 x 10
            limitRows: 10,
            limitCols: 10,

            // Allows creating tables with a maximum of 100 cells
            limitCells: 100,

            // Allows creating tables with a maximum width of 1000 pixels
            limitWidth: 1000,

            // Allows creating tables with a maximum height of 500 pixels
            limitHeight: 500
        }
    },
    
    /*
    btns: [
        ['viewHTML'],
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['image'],
        ['table'],
        ['tableAddRowAbove', 'tableAddRowBelow', 'tableRemoveRow'],
        ['tableAddColLeft', 'tableAddColRight', 'tableRemoveCol'],
        ['tableMergeCells', 'tableSplitCells'],
        ['horizontalRule'],
        ['fullscreen']
    ],
    */
});
trumboEditor.trumbowyg('html', 'hellllo');


</script>
